@{ ViewData["Title"] = "Adminintermediate"; }


<style>
    h1 {
        color: black;
    }
    body {
        background: url(https://assets-news.housing.com/news/wp-content/uploads/2022/05/03191029/SEVANA-PENSION-2022-FEATURE-compressed.jpg);
        background-size: cover;
    }
</style>
<h1>Features</h1>
<hr />
<div>
    <a asp-action="PensionPortal" class="btn btn-dark" role="button">View Pensioner Details</a>
    

</div>

<hr />
<div>
    <a asp-action="Delete" class="btn btn-dark" role="button">Delete Pensioner Details</a>
    


</div>
<hr />