@{ ViewData["Title"] = "Pensionintermediate"; }

<h1>Pensioner Features</h1>
<hr />
<div>
    <a asp-action="Register"><h1>Register Pensioner Details</h1></a>
</div>
<hr />
<div>
    <a asp-action="Update"><h1>Update Pensioner Details</h1></a>
</div>
<hr />