@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        background: url(https://1.bp.blogspot.com/-RZ99CW9XPD8/XQJmGa7ERpI/AAAAAAABHNM/MlHBn5KwJdcbyGuB89kP2jMOmJ4JEEnMwCLcBGAs/s1600/135.gif);
        background-size: cover;
    }
    p, h1 {
        color: white;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Pension Management Portal</h1>
    <hr class="w-50 mx-auto">
</div>

<br />
<p style="font-size:140%">
    Pension Management Portal is an employee-centric initiative of Directorate of Pension, Provident Fund and Group Insurance, Finance Department, Govt. of West Bengal to provide end to end solution to matters related with settlement of Pension and other retirement benefits to the employees of Institution receiving Grants from the state government. This project covers all the stakeholders from applicant to Pension Disbursement Officer (Treasury Officers) under single portal leveraging the benefits of Information & Communication Technologies (ICT). The objective of the project is to improve efficiency, transparency and accountability resulting in faster delivery of services ensuring accountability to all the stakeholders with appropriate use of re-engineering of Govt. Business processes.
</p>
