@{
    ViewData["Title"] = "Terms of Use";
}
<style>
    body {
        background: url(https://youthdestination.b-cdn.net/wp-content/uploads/2022/03/Youth-Destination-Test-Series-2022-National-Emblem-of-India.png);
        background-size: cover;
    }
    </style>
<h1>@ViewData["Title"]</h1>

<p>
    <br>
    <h2>Disclaimer</h2>
    
    This portal is designed, developed & hosted by National Informatics Centre (NIC), Government of India. Content on this website is published and managed by Department of Pension & Pensioners' Welfare, Ministry of Personnel, Public Grievance & Pensions, Government of India. Though all efforts have been made to make this Website as authentic as possible, the Department of Pension & Pensioners' Welfare and National Informatics Centre will not be responsible for any loss to any person caused by any shortcoming or inaccuracy in the information contained in this website. Also, the available information in this website aims to give a general overview on pension related to Central Civil Pensioners and is not a substitute for any rules. Government Servants and Pensioners are therefore advised to consult original rules/orders on the subject for more specific information. Any discrepancy found may be brought to the notice of the Department of Pension & Pensioners' Welfare.

    These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.
    <br />
    <h2>Privacy Policy</h2>
    

    Pensioners' Portal does not automatically capture any specific personal information from you, (like name & address), that allows us to identify you individually.

    If the Pensioners' Portal requests you to provide personal information, you will be informed for the particular purposes for which the information is gathered and adequate security measures will be taken to protect your personal information.
    We do not sell or share any personally identifiable information volunteered on the Pensioners'  Portal site to any third party (public/private). Any information provided to this Portal will be protected from loss, misuse, unauthorized access or disclosure, alteration, or destruction.
    <br>
    <h2>Linking Policy</h2>
    
    Links to external websites/portals

    The information posted on this Portal could include hypertext links or pointers to information created and maintained by non-Government/private organisations. Department of Pension & Pensioners' Welfare is providing these links solely for the purpose of  information and convenience. When you select a link to an outside website, you are leaving the Department of Pension & Pensioners' Welfare website and are subject to the privacy and security policies of the owners/sponsors of the outside website.

    Department of Pension & Pensioners' Welfare is not responsible for the contents or reliability of linked websites and does not necessarily endorse the view expressed therein. Mere presence of the link or its listing on this Portal should not be assumed as any kind of endorsement of this department. We cannot guarantee the availability of such linked pages at all times and we have no control over availability of linked pages.

    Links to Pensioners' Portal by other websites

    We do not object to being linked directly to the information that is hosted on this Portal and no prior permission is required for the same. However, we would like to be informed about any links provided to this Portal so that  any changes or updations carried out therein could be communicated. Also, we do not permit our pages to be loaded into frames on your site. The pages belonging to this Portal must load into a newly opened browser window of the User.
</p>
